@font-face {
    font-family: 'Poppins Regular';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins Regular';
    scroll-behavior: smooth;
}

.container {
    max-width: 900px;
    margin: auto;    
    display: flex;;
}

.container:not(#header .container) {
    padding: 10px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.box-shadow {
    box-shadow: 3px 3px 8px black;
}

#aboutme, #myskills, #mywoks, #contactme, #footer {
    margin-top: 50px;
}

.main-container {
    background-color: deeppink;
    padding-top: 50px;
}

/* Header CSS */
#header .container {
    border: 5px solid white;
    border-radius: 10px;
    background-color: darkblue;
    align-items: center;
}

#header .container .content {
    flex-basis: 60%;
    text-align: center;
    line-height: 25px;
    color: white;
    padding: 5px;
}

#header .container .content h4 {
    letter-spacing: 5px;
}

#header .container .content h4,
#header .container .content h1,
#header .container .content p {
    margin-bottom: 20px;
}

.social a {
    margin-right: 15px;
    color: white;
    font-size: 30px;
}

.social .fa-youtube {
    color: red;
    text-shadow: 2px 2px 5px black;
}

.social .fa-instagram {
    color: pink;
    text-shadow: 2px 2px 5px black;
}

.social .fa-facebook {
    color: blue;
    text-shadow: 2px 2px 5px black;
}

#header .container .image-div {
    flex-basis: 40%;
}

#header .container .image-div img {
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* About Me CSS */
#aboutme .container {
    align-items: center;
}

#aboutme .content h2 {
    line-height: 40px;
}

#aboutme .container > div {
    flex-basis: 50%;
}

#aboutme .image-div img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

/* My Skills CSS */
#myskills .container {
    align-items: center;
}

#myskills .container > div {
    flex-basis: 50%;
}

#myskills .content h3:nth-child(3),
#myskills .content h3:nth-child(5) {
    margin-top: 30px;
}

#myskills .content ul {
    list-style-type: none;
}

#myskills .content ul li {    
    display: inline-block;
    background-color: rgba(186, 186, 193, 0.6);
    margin: 5px 5px 5px 0;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

#myskills .image-div img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 5px;
}

/* My Works CSS */
#myworks .container {
    justify-content: space-between;
}

#myworks .container .card {
    flex-basis: 30%;
    background-color: darkblue;
    color: white;
    padding: 20px 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;

    transition-duration: 1s;
}

#myworks .container .card:hover {
    background-color: deeppink;
    transform: scale(1.1);
}

#myworks .card h3 {
    margin: 15px 0;
}

#myworks .card i {
    font-size: 30px;
}

/* Contact Me CSS */
#contactme .container > div {
    flex-basis: 50%;
}

#contactme ul {
    list-style-type: none;
    line-height: 40px;
    font-weight: bold;
}

#contactme .form .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#contactme .form .form-group input,
#contactme .form .textarea,
#contactme .form button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;    
}

#contactme .form .form-group input {
    flex-basis: 49%;
    height: 35px;
    color: #000;
}

#contactme .form .textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
    color: #000;
}

#contactme .form button {
    padding: 10px 30px;
    float: right;
    background-color: darkblue;
}

/* Footer CSS */
#footer {
    background-color: darkblue;
    color: white;
    padding: 30px 0 70px 0;
}

#footer .container {
    justify-content: space-between;
    
}

#footer .container .col {
    flex-basis: 33%;
    line-height: 35px;
    text-align: center;
}

#footer .container .col h3 {
    margin-bottom: 20px;
}

#footer .container .col ul {
    list-style-type: none;   
}

#footer .container .col ul li a {
    color: white;
    text-decoration: none;
}

#gototop {
    display: block;
    border-radius: 5px;
    background-color: orange;
    width: 50px; height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

@media (max-width: 600px) {
    #header .container {
        flex-direction: column-reverse;
        border: none;
        border-radius: 0;
        box-shadow: 0 0;
    }

    #header .content {
        padding: 20px;
    }

    #aboutme .container {
        flex-direction: column;
        text-align: center;
    }

    #aboutme .content {
        padding: 20px;
    }

    #myskills .container {
        flex-direction: column-reverse;
    }

    #myskills .content {
        text-align: center;
        padding: 20px;
    }

    #myworks .container {
        flex-direction: column;
    }

    #myworks .card {
        width: 90%;
        margin: 10px auto;
    }

    #contactme .container {
        flex-direction: column;
    }

    #contactme .form .form-group {
        flex-direction: column;
    }

    #contactme .form .form-group input:first-child {
        margin-bottom: 10px;
    }

    #footer .container {
        flex-direction: column;
    }

    #footer .col {
        margin: 20px 0;
    }
}